PROJECT_NAME =  SpecSWD 
INPUT =  ./src/mesh ./src/vti   ./src/aniso  ./include/ ./src/shared ./src/libswd
GENERATE_HTML = YES
HTML_FILE_EXTENSION = .html
FULL_PATH_NAMES = NO    

OUTPUT_DIRECTORY = ./misc/doxygen
GENERATE_HTML = YES
GENERATE_LATEX = YES
#GENERATE_XML = YES 